@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Raleway:wght@400;900&display=swap');

$font1: 'Raleway', sans-serif;
$font2: 'Libre Bodoni', serif;

$purple: #7451EB;
$light-grey: #EBEBEB;
$grey: #BBBBBB;