@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Raleway:wght@400;900&display=swap");
.back {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 3rem;
}

.projectWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

.presentation {
  position: relative;
  z-index: 2;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation h3 {
  font-family: "Libre Bodoni", serif;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
.presentation img {
  width: 700px;
  max-width: 80%;
}

.description {
  width: 35%;
  background: #EBEBEB;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 2.5px 2.5px 5px #BBBBBB;
}
.description article {
  margin: 1rem 2rem;
  background: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.description article div {
  font-family: "Libre Bodoni", serif;
  font-size: 1.5rem;
}
.description article p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.link{
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .back {
    font-size: 1.25rem;
    left: 10%;
    top: -2.5rem;
    transform: unset;
    margin-bottom: unset;
  }
  .projectWrapper {
    flex-direction: column;
  }
  .presentation {
    width: 90%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: auto;
  }
  .presentation h3 {
    font-family: "Libre Bodoni", serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
  }
  .presentation img {
    width: 500px;
    max-width: 60%;
  }
  .description {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .back {
    top: -1rem;
  }
}