@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Raleway:wght@400;900&display=swap");
.image {
  width: 500px;
  max-width: 80%;
  height: auto;
  object-fit: contain;
  margin: 1rem auto;
}

.closeup {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: inherit;
  box-shadow: 2.5px 2.5px 5px #BBBBBB;
  transition: 0.125s ease-in-out box-shadow;
}
.closeup:hover {
  box-shadow: 2.5px 2.5px 5px #7451EB;
}

.article {
  position: relative;
  background: #EBEBEB;
  border-radius: 1rem;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem 1rem;
  margin: 2rem auto;
}
.article header {
  position: absolute;
  top: 1rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.article .headerLink {
  flex: 1;
  text-decoration-color: #7451EB;
}
.article h2 {
  font-family: "Libre Bodoni", serif;
  font-size: 2.5rem;
}
.article a > * {
  font-size: 2rem;
  color: black;
  margin: 0 0.25rem;
  transition: 0.125s color ease-in-out;
}
.article a > *:hover {
  color: #7451EB;
}
.article footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  width: 500px;
  max-width: 80%;
  line-height: 1.5;
  margin: auto;
}
.article footer span {
  margin: 0 0.75rem;
}

@media (max-width: 768px) {
  .article {
    max-width: 80%;
  }
}