@import '../../scss/utils/variables';

.image{
    max-width: 80%;
    object-fit: contain;
    margin: 1rem auto;
}

.closeup{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
}

.article{
    position: relative;
    background: $light-grey;
    border-radius: 1rem;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem 1rem;
    margin: 2rem auto;

    header{
        position: absolute;
        top: 1rem;
        width: calc(100% - 3rem);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
    }

    .headerLink{
        flex: 1;
        text-decoration-color: $purple;
    }

    h3{
        font-family: $font2;
        font-size: 2.5rem;
    }

    a>*{
        font-size: 2rem;
        color: black;
        margin: 0 .25rem;
    }
    
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.25rem;
        font-family: $font1;

        span{
            margin: 0 .75rem;
        }
    }
}

@media (max-width: 768px){
    .article{
        max-width: 80%;
    }
}