@import '../../scss/utils/variables';

.header {
    font-family: $font1;
    font-size: 4rem;
    color: $purple;
    font-weight: 900;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

@media (max-width: 600px){
    .header {
        font-size: 3rem;
        padding: 1rem 0 2rem 0;
    }
}