@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Raleway:wght@400;900&display=swap");
.header {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: #7451EB;
  font-weight: 900;
  text-align: center;
}